body {
    background-image: url("../imagens/back.gif");
}

.orientacao {
    width: 980px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b2dddd;

    display: flex;
    border-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-width: 5px;
}

.voltar {
    display: flex;
    align-items: center;
    width: 50%;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.triangulo-para-esquerda {
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #ffffff;

}

.triangulo-para-esquerda:hover {
    border-right: 16px solid #27272777;
}

.h1 {
    font-size: 25px;
    display: inline;
    color: #ffffff;
    margin-left: 5px;
}

.h1:hover {
    color: #27272777;
}

.titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.imgicon {
    width: 55px;
}



.h2 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

.partereferencia {
    background-color: #b2dddd;
    width: 980px;
    height: 95vh;
    margin: 0 auto;
    padding: 20px;

}

.topicos {
    width: 680px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkreferencia {
    margin: 10px;
    color: rgb(72, 72, 72);
    font-size: 18px;
    list-style: disc;
}

.rodape {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    height: 30px;
    text-align: center;
    padding-top: 10px;
    bottom: 0px;
    width: 100%;
}

@media screen and (max-width: 768px) {

    .rodape {
        height: 60px;
        padding-top: 20px;
        font-size: 40px;
    }
}