body {
    background-image: url("../imagens/back.gif");
}

.orientacao {
    width: 980px;
    margin: 0 auto;
    padding: 20px;
    background-color: #b2dddd;

    display: flex;
    border-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-width: 5px;
}

.voltar {
    display: flex;
    align-items: center;
    width: 45%;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.triangulo-para-esquerda {
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 14px solid #ffffff;

}

.triangulo-para-esquerda:hover {
    border-right: 16px solid #27272777;
}

.h1 {
    font-size: 25px;
    display: inline;
    color: #ffffff;
    margin-left: 5px;
}

.h1:hover {
    color: #27272777;
}

.titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 55%;
}

.imgicon {
    width: 55px;
    margin-right: 20px;
}

.h2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-right: 5px;
}

.partereferencia {
    width: 980px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 300px;
    background-color: #b2dddd;
}

.topicos {
    width: 680px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linkreferencia {
    margin: 10px;
    color: rgb(72, 72, 72);
    font-size: 18px;
    list-style: disc;
}

@media screen and (max-width: 768px) {
    body {
        background-image: none;
    }

    .orientacao {
        width: auto;
        padding: 15px;
        border-width: 10px;
    }

    .voltar {
        width: 40%;
    }

    .titulo {
        width: 60%;
    }

    .triangulo-para-esquerda {
        border-top: 40px solid transparent;
        border-bottom: 40px solid transparent;
        border-right: 40px solid #ffffff;
    }

    .triangulo-para-esquerda:hover {
        border-right: 40px solid #27272777;
    }

    .h1 {
        font-size: 0;
    }

    .imgicon {
        width: 90px;
    }

    .h2 {
        font-size: 70px;
    }

    .partereferencia {
        padding: 10px;
        padding-bottom: 300px;
    }

    .topicos {
        width: auto;
        margin-top: 55px;
        margin-right: 5px;
    }

    .linkreferencia {
        margin: 20px;
        font-size: 30px;
    }


}